<footer id="contacts">
    @*    <div class="container"> *@
    <div>
        <img src="./assets/icons/colored-logo.svg" alt="@Localizer["Application name"]">

        <address class="socialMedias">
            <img src="/assets/icons/instagram.svg" alt="Иконка Инстаграм">
            <img src="/assets/icons/vk.svg" alt="Иконка Вконтакте">
        </address>
    </div>

    <div class="links">
        <a href="#main">Главная</a>
        <a href="#about">О приложении</a>
        <a href="#download">Скачать</a>
        <a asp-area="" asp-page="/Privacy">Privacy</a>
    </div>
    <div class="designedBy">
        <p>&copy; 2023 - @Localizer["Application name"]</p>
        <p class="designedByForMobile">DESIGNED BY GOLOVCHENKO</p>
        <p>DESIGNED BY<br />GOLOVCHENKO</p>
    </div>
</footer>