<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Разговорник</title>
    <link rel="stylesheet" href="~/css/reset.css" asp-append-version="true" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lexend:wght@100;200;300;400;500;600;700;800;900&family=Montserrat:wght@400;500&family=Roboto:wght@100&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Web.styles.css" asp-append-version="true" />
</head>
<body>
    <div class="container">
        <component type="typeof(Header)" render-mode="Static" />

        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>
    <component type="typeof(Footer)" render-mode="Static" />
    <div class="dark-overlay"></div>

    <script defer src="~/js/site.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>